<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Disaster Reporting System</title>
<link rel="stylesheet" href="/css/style.css">
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<nav>
    <a href="/">Home</a>
    <a href="/aid-request">Request Aid</a>
    <% if (user) { %>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      <% } %>
</nav>