*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

p{
    padding: 10px;
    margin: 4px;
}

a{
    text-decoration: none;
    color: black;
}